@font-face {
	font-family: 'PaladinPCRus';
	src: url('../fonts/paladinpcrus_medium.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/paladinpcrus_medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/paladinpcrus_medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/paladinpcrus_medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/paladinpcrus_medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/paladinpcrus_medium.svg#paladinpcrus_medium') format('svg'); /* Chrome < 4, Legacy iOS */
}
//Переменные
$minWidth: 320px;
$maxWidth: 1152;
$maxWidthContainer: 856;
$md1: $maxWidthContainer +12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
/////////////
// =================================================

/////////CONTENT

// =================================================

.page {
}

._container {

}

.wrapper {
  
}
.bigelipse {
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -1;
  width: 80%;
  max-width: $maxWidthContainer + px;
    margin: 0 auto; 
    @media (max-width: $md1 + px) {
        max-width: 750px;
    }
    @media (max-width: $md2 + px) {
        max-width: none;
        padding: 0 10px;
    }
}



.slider__wrapper{
  // position: absolute;
  // display: contents;
  // height: 50vh;
  position: absolute;
  width: 100%;
  left: 0;
  top: 15%;
  overflow: hidden;
  text-align: center;
}


.sun{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  // margin-top: 350px;
  align-items: center;

  @media (max-width: $md3 + px) {
    justify-content: center;
  }

  img{
    max-height: 30vh;
  }

  &__img{
    // max-width: 30vw;
    width: 50vw;
    margin-top: 40px;
  }

  .heand__img{
    @media (max-width: $md3 + px) {
      display: none;
  }
  }
}

.kaf {
  
  // .kaf__list

  &__list {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

  }

  // .kaf__link

  &__link {

    font-size: calc(24px + 16 * (100vw / 1280));
    // font-weight: normal;
    color: gray;
    text-transform: uppercase;
    transition: color 0.3s ease 0s;
    

    &:hover{
      color: red;
      transition: all 0.3s ease 0s;
    }
  }
}

.rombs{
  width: 100%;
  margin: 50px 0 50px 0;

}

.info {

  // .info__list

  &__list {
    font-weight: bold;
    font-size: calc(24px - 8 * (100vw / 1280));

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

  

  }

  // .info__link

  &__link {
    margin: 10px 20px;
    white-space: nowrap;
    display: inline-block;
    transition: color 0.3s ease 0s;
    

    &:hover{
      color: red;
      transition: all 0.3s ease 0s;
    }
  }
}

.info__all{
  display: inline-block;
  border: solid black 1px;
  padding: 15px;
  margin-top: 40px;
  width: 250px;
  
  transition: all 0.3s ease 0s;
    

  &:hover{
    color: red;
    border: solid red 1px;
    transition: all 0.3s ease 0s;
  }
}

.lenta {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  // align-items: center;

  max-width: $maxWidth + px;
  // .lenta__label

  &__label {
    display: inline-block;
    font-size: calc(24px + 8 * (100vw / 1280));
    width: 30vw;
    border-top: solid red 10px;;
  }

  // .lenta__cards

  &__cards {
    display: flex;
    
  }

  // .lenta__card

  &__card {
    width: 100%;
    height: 40vh;
    position: relative;
    
    &:hover{
      span{
      color: red;
      transition: all 0.3s ease 0s;
      }
    }

    span{
      display: block;
      position: absolute;

      color: white;
      font-weight: bold;
      margin: 20px;
      font-size: calc(24px + 2 * (100vw / 1280));
    }

  }

  .fashion-show {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%), url("../img/fashion-show.jpg") center;

  }
  .art-media {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%), url("../img/art-media.jpg") center;
  }
  .card-news {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%), red;
    p{
      margin: 50% 10% 0 10%;
      text-align: left;
      color: white;
      
    }
    p.time{
      margin: 10% 0 10% 10%;
      color: inherit;
      font-weight: bold;
    }
  }
  .card-concurs {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%), url("../img/concours.jpg") center;
    
  }

  
}


